<nav id="site-navigation" class="navbar main-navigation navbar-dark bg-primary" role="navigation">
    <button type="button" class="menu-toggle btn btn-light">菜單</button>
    <a class="assistive-text" href="#content" title="跳至正文">跳至正文</a>
    <div>
        <ul class="nav-menu">
            {% load blog_tags %}
            <li class="nav-item active"><a href="/">首頁</a></li>
            {% query info_pages parent_page=None as root_categorys %}
            {% for node in root_categorys %}
                {% include 'share_layout/nav_node.html' %}
            {% endfor %}
            <li class="nav-item"><a href="/assignment">作業區</a></li>
            <li class="nav-item"><a href="/videos">教材區</a></li>
            
        </ul>
    </div>
    <div class="d-flex justify-content-end">
        {% if request.user.is_authenticated %}
            <p class="pr-3">{{request.user}}</p>
            <a class="" href="{% url "account:logout" %}" rel="nofollow">登出</a>
        {% else %}
            <a class="" href="{% url "account:login" %}" rel="nofollow">登錄</a>
        {% endif %}
    </div>
</nav><!-- #site-navigation -->