{%extends 'share_layout/base.html'%}

{% block content%}
        <table class="table">
            <tr>
                <th>標題</th>
                <th>期限</th>
            </tr>
            {% for vid in course %}
            <tr>
                <td>
                    <a href="{% url 'videos:video-list' %}">{{vid.name}}</a>
                </td>
                <td>
                    {{vid.deadline}}                    
                </td>
            </tr>
                
            {% endfor %}
        </table>
       
    
{% endblock %}

