{%extends 'share_layout/base.html'%}

{% block content%}
        <table class="table">
            <tr>
                <th>作業</th>
                <th>期限</th>
            </tr>
            {% for as in assignment %}
            <tr>
                <td>
                    <a href="{{ as.get_absolute_url }}">{{as.name}}</a>
                </td>
                <td>
                    {{as.deadline}}                    
                </td>
            </tr>
                
            {% endfor %}
        </table>
       
    
{% endblock %}

