{% load blog_tags %}
{% load cache %}
{% with article.id|add:user.is_authenticated as cachekey %}
    {% cache 36000 metainfo cachekey %}
        <footer class="entry-meta">
            </span>
                {% if user.is_superuser %}
                    <a href="{{ article.get_admin_url }}" class="font-weight-bold text-dark">编辑</a>
                {% endif %}
            </span>
            <source media="(min-width: )" srcset="">
            日期<a href="{{ article.get_absolute_url }}" title="{% datetimeformat article.pub_time %}"
                     itemprop="datePublished" content="{% datetimeformat article.pub_time %}"
                     rel="bookmark">

            <time class="entry-date updated"
                  datetime="{{ article.pub_time }}">
                {% datetimeformat article.pub_time %}</time>
             </a>
            
        </footer><!-- .entry-meta -->

    {% endcache %}
{% endwith %}
