{% load blog_tags %}
<div id="secondary" class="widget-area" role="complementary">
    <aside id="search-2" class="widget widget_search">
        <form role="search" method="get" id="searchform" class="searchform" action="/search">
            <div>
                <label class="screen-reader-text" for="s">搜索：</label>
                <input type="text" value="" name="q" id="q"/>
                <input type="submit" id="searchsubmit" value="搜索"/>
            </div>
        </form>
    </aside>
    {% if extra_sidebars %}
        {% for sidebar in extra_sidebars %}

            <aside class="widget_text widget widget_custom_html"><h3 class="widget-title">
                {{ sidebar.name }}</h3>
                <div class="textwidget custom-html-widget">
                    {{ sidebar.content|custom_markdown }}
                </div>
            </aside>
        {% endfor %}
    {% endif %}

    {% if recent_articles %}
        <aside id="recent-posts-2" class="widget widget_recent_entries"><h3 class="widget-title">近期文章</h3>
            <ul>

                {% for a in  recent_articles %}
                    <li><a href="{{ a.get_absolute_url }}" title="{{ a.title }}">
                        {{ a.title }}
                    </a></li>
                {% endfor %}
            </ul>
        </aside>
    {% endif %}

    <aside id="meta-2" class="widget widget_meta"><h3 class="widget-title">功能</h3>
        <ul>
            <li><a href="/admin/" rel="nofollow">管理網站</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url "account:logout" %}" rel="nofollow">登出</a>
                </li>

            {% else %}
                <li><a href="{% url "account:login" %}" rel="nofollow">登錄</a>
            {% endif %}
        </ul>
    </aside>
    <div id="rocket" class="show" title="點我返回頂部"></div>
</div><!-- #secondary -->
